<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="certificate.css">
</head>
<body>
    <div class="certificate">

        <div class="student-name">{{studentName}}</div>
        <div class="course-name">{{courseName}}</div>

        <div class="instructor">{{instructorName}}</div>
        <div class="date">{{date}}</div>
        <div class="certificate-id">{{certificateId}}</div>


    </div>
</body>
</html>